{%extends 'base.html'%}
{%block content%}

	<div class="main_con clearfix">
		<div class="left_menu_con clearfix">
			<h3>用户中心</h3>
			<ul>
				<li><a href="/user/info/" class="active">· 个人信息</a></li>
				<li><a href="/user/order/">· 全部订单</a></li>
				<li><a href="/user/address/">· 收货地址</a></li>
			</ul>
		</div>
		<div class="right_content clearfix">
				<div class="info_con clearfix">
				<h3 class="common_title2">基本信息</h3>
						<ul class="user_info_list">
							<li><span>用户名：</span>{{ user_name }}</li>
							<li><span>联系方式：</span>{{ user_phone|default:"未填写" }}</li>
							<li><span>邮箱：</span>{{ user_email|default:"未填写" }}</li>
						</ul>
				</div>
				
				<h3 class="common_title2">最近浏览</h3>
				<div class="has_view_list">
					<ul class="goods_type_list clearfix">

{%for goods in goods_list%}
				<li>
					<a href="/{{goods.id}}/"><img src="/static/{{goods.pic}}"></a>
					<h4><a href="/{{goods.id}}/">{{goods.title}}</a></h4>
					<div class="operate">
						<span class="prize">￥{{goods.price}}</span>
						<span class="unit">{{goods.price}}/{{goods.unit}}</span>
						<a href="/cart/add{{goods.id}}_1/" class="add_goods" title="加入购物车"></a>
					</div>
				</li>
{%endfor%}

			</ul>
		</div>
		</div>
	</div>

{%endblock content%}

