{%extends 'tt_goods/goodsbase.html'%}

{%block head%}
<script>
	function add() {
	    num=parseFloat($('.num_show').val());
	    $('.num_show').val(num+1);
	    $('.num_show').blur();
    }

    function minus() {
	    num=parseFloat($('.num_show').val());
	    if(num<=1){
	        return;
		}
	    $('.num_show').val(num-1);
	    $('.num_show').blur();
    }

	$(function () {
		$('.num_show').blur(function () {
		    num=parseInt($('.num_show').val());
		    if(num<=1){
		        num=1;
			}
		    price=parseFloat($('#gprice').text());
		    total=num*price;
		    $('.num_show').val(num);
		    $('#gtotal').text(total.toFixed(2)+'元');
        });

		//立即购买
		$('#buy_btn').click(function () {
			//判断是否登录，若未登录则提示先登录
			if($('.login_btn').text().indexOf('登录')>=0){
			    alert('请先登录后再购买');
			    location.href='/user/login/';
				return;
			}
			//添加到购物车
			num=parseInt($('.num_show').val());
			$.get('/cart/add{{goodsDetail.id}}_'+num+'/',function (data) {
			    //转向订单页面
				location.href='/order/?cart_id='+data.cart_id;
            });
        });
    });
</script>
{%endblock head%}


{%block detail%}

	<div class="goods_detail_con clearfix">
		<div class="goods_detail_pic fl"><img src="/static/{{goodsDetail.pic}}"></div>

		<div class="goods_detail_list fr">
			<h3>{{goodsDetail.title}}</h3>
			<p>{{goodsDetail.desc}}</p>
			<div class="prize_bar">
				<span class="show_pirze">¥<em id="gprice">{{goodsDetail.price}}</em></span>
				<span class="show_unit">单  位：{{ goodsDetail.unit }}</span>
			</div>
			<div class="goods_num clearfix">
				<div class="num_name fl">数 量：</div>
				<div class="num_add fl">
					<input type="text" class="num_show fl" value="1">
					<a href="javascript:add();" class="add fr">+</a>
					<a href="javascript:minus();" class="minus fr">-</a>
				</div> 
			</div>
			<div class="total">总价：<em id="gtotal">{{goodsDetail.price}}元</em></div>
			<div class="operate_btn">
				<a href="javascript:;" class="buy_btn" id="buy_btn">立即购买</a>
				<a href="javascript:;" class="add_cart" id="add_cart">加入购物车</a>				
			</div>
		</div>
	</div>
{%endblock detail%}
{%block detail2%}
		<div class="r_wrap fr clearfix">
			<ul class="detail_tab clearfix">
				<li class="active">商品介绍</li>
				<li>评论</li>
			</ul>

			<div class="tab_content">
				{{goodsDetail.details|safe}}
			</div>
		</div>

	<div class="add_jump"></div>

	<script type="text/javascript">
		var $add_x = $('#add_cart').offset().top;
		var $add_y = $('#add_cart').offset().left;

		var $to_x = $('#show_count').offset().top;
		var $to_y = $('#show_count').offset().left;

		$(".add_jump").css({'left':$add_y+80,'top':$add_x+10,'display':'block'})
		$('#add_cart').click(function(){
		    //判断是否登录，若未登录则提示先登录
			if($('.login_btn').text().indexOf('登录')>=0){
			    alert('请先登录后再购买');
			    location.href='/user/login/';
				return;
			}
		    //动画
			$(".add_jump").stop().animate({
				'left': $to_y+7,
				'top': $to_x+7
                },
				"fast", function() {
					$(".add_jump").fadeOut('fast',function () {
                        $(".add_jump").css({'left':$add_y+80,'top':$add_x+10,'display':'block'})
					    console.log('结束了');
                    });
			});
			//异步
			num=parseInt($('.num_show').val());
			$.get('/cart/add{{goodsDetail.id}}_'+num+'/',function (data) {
				$('#show_count').text(data.count);
            });
		});
	</script>
{%endblock detail2%}