{%extends 'base.html'%}

{% block title %}天天生鲜{% endblock title %}
{%block head%}
	<script type="text/javascript" src="/static/js/jquery-ui.min.js"></script>
	<script type="text/javascript" src="/static/js/slide.js"></script>
    <script type="text/javascript" src="/static/js/slideshow.js"></script>
	<script type="text/javascript">
		BCSlideshow('focuspic');
		var oFruit = document.getElementById('fruit_more');
		var oShownum = document.getElementById('show_count');

		var hasorder = localStorage.getItem('order_finish');

		if(hasorder)
		{
			oShownum.innerHTML = '2';
		}

		oFruit.onclick = function(){
			window.location.href = 'list.html';
		}
	</script>
{%endblock head%}

{%block content%}


	<div class="navbar_con">
		<div class="navbar">
			<h1 class="fl">全部商品分类</h1>
			<ul class="navlist fl">
				<li><a href="">首页</a></li>
				<li class="interval">|</li>
				<li><a href="">手机生鲜</a></li>
				<li class="interval">|</li>
				<li><a href="">抽奖</a></li>
			</ul>
		</div>
	</div>

	<div class="center_con clearfix">
		<ul class="subnav fl">
			<li><a href="#model01" class="fruit">{{goodsArray.0.goodsType.gtitle}}</a></li>
			<li><a href="#model02" class="seafood">{{goodsArray.1.goodsType.gtitle}}</a></li>
			<li><a href="#model03" class="meet">{{goodsArray.2.goodsType.gtitle}}</a></li>
			<li><a href="#model04" class="egg">{{goodsArray.3.goodsType.gtitle}}</a></li>
			<li><a href="#model05" class="vegetables">{{goodsArray.4.goodsType.gtitle}}</a></li>
			<li><a href="#model06" class="ice">{{goodsArray.5.goodsType.gtitle}}</a></li>


		</ul>
		<div class="slide fl">
			<ul class="slide_pics">

                {%for banner in banners%}
                    <li><img src="{{banner.banner_url}}" alt="幻灯片"></li>
                {%endfor%}

{#				<li><img src="/static/images/slide.jpg" alt="幻灯片"></li>#}
{#				<li><img src="/static/images/slide02.jpg" alt="幻灯片"></li>#}
{#				<li><img src="/static/images/slide03.jpg" alt="幻灯片"></li>#}
{#				<li><img src="/static/images/slide04.jpg" alt="幻灯片"></li>#}
			</ul>
			<div class="prev"></div>
			<div class="next"></div>
			<ul class="points"></ul>
		</div>
		<div class="adv fl">
			<a href="#"><img src="/static/images/adv01.jpg"></a>
			<a href="#"><img src="/static/images/adv01.jpg"></a>
		</div>
	</div>



    {%for goods in goodsArray%}

	<div class="list_model">
		<div class="list_title clearfix">
			<h3 class="fl" id="model0{{forloop.counter}}">{{ goods.goodsType.gtitle }}</h3>
			<div class="subtitle fl">
				<span>|</span>

                {% for hotGood in goods.hotGoods %}
                    <a href="/{{hotGood.id}}/">{{ hotGood.title }}</a>
                {% endfor %}

			</div>
            {# 获取类型的id#}
			<a href="/more{{goods.goodsType.id}}_1_1/" class="goods_more fr" id="fruit_more">查看更多 ></a>
		</div>

        {#下面的子分类 banner#}
		<div class="goods_con clearfix">
{#			<div class="goods_banner fl"><img src="/static/images/banner0{{forloop.counter}}.jpg"></div>#}
        <div class="goods_banner fl"><img src="{{goods.goodsType.pic_url}}"></div>
			<ul class="goods_list fl">

                {%for good in goods.goods%}

                    <li>
					<h4><a href="/{{good.id}}/">{{ good.title }}</a></h4>
					<a href="/{{good.id}}/"><img src="/static/{{ good.pic }}"></a>
					<div class="prize">¥ {{ good.price }}</div>
				    </li>

                {% endfor %}
			</ul>
		</div>
	</div>

    {%endfor%}



{%endblock content%}